default:
  image: flyio/flyctl:latest

# before_script:
#   - apk add --no-cache curl
#   - curl -L https://fly.io/install.sh | sh
#   - export PATH="/root/.fly/bin:$PATH"

variables:
  FLY_APP_NAME: ugamy-api # Replace with your Fly.io app name

deploy:
  script:
    - flyctl deploy --config ./packages/api/fly.toml --dockerfile ./Dockerfile --remote-only
    - echo "Deployment initiated"
  only:
    - main
    - staging
