# fly.toml app configuration file generated for ugamy-staging-api on 2025-08-22T08:45:46+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ugamy-staging-api'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 9999
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
